@font-face{
	font-family: "Open_Sans-Regular";
	scr: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
	font-size: 1em;
}
@font-face{
	font-family: "Open_Sans-Light";
	scr: url(../fonts/Open_Sans/OpenSans-Light.ttf);
	font-size: 1em;
}
header {
	width: 100%;
	height: 150px;
	background-color: rgba(94, 41, 154, .8);
	z-index: 2;
	position: relative;
}
header .container {
	position: relative;
}

header	.header-black {
	background-color: #000; 
	height: 40px;
	width: 100%;
}
header .header-black li {
	background-image: url("../img/logo-times.png");
	background-repeat: no-repeat;
	display: inline-block;
}

header .header-black li.club-01{
	background-position: 1px -1px;
}

header .header-black li.club-02{
	background-position: -50px 0px;
}
header .header-black li.club-03{
	background-position: -92px 0px;
}

header .header-black li.club-04{
	background-position: -140px -1px;
}
header .header-black li.club-05{
	background-position: -190px 0px;
}

header .header-black li.club-06{
	background-position: -240px 0px;
}

header .header-black li.club-07{
	background-position: -289px 0px;
}

header .header-black li.club-08{
	background-position: -332px -1px;
}

header .header-black li.club-09{
	background-position: -378px -1px;
}

header .header-black li.club-10{
	background-position: -430px 0px;
}

header .header-black li.club-11{
	background-position: -481px 0px;
}

header .header-black li.club-12{
	background-position: -529px 0px;
}

header .header-black li.club-13{
	background-position: -580px -1px;
}

header .header-black li.club-14{
	background-position: -628px 0px;
}

header .header-black li.club-15{
	background-position: -674px -1px;
}

header .header-black li.club-16{
	background-position: -718px 0px;
}

header .header-black li.club-17{
	background-position: -759px 0px;
}

header .header-black li.club-18{
	background-position: -807px 0px;
}

header .header-black li.club-19{
	background-position: -856px 0px;
}

header .header-black li.club-20{
	background-position: -900px 0px;
}

header .header-black li.club-21{
	background-position: -949px -1px;
}

header .header-black li.club-22{
	background-position: -996px 0px;
}

header #logotipo {
	position: absolute;
	top: 10px;
	z-index: 3;
}
#banner h1.efeito{
	color: red;
	font-size: 12em;
}
header .header-black li a{
	width: 33px;
	height: 33px;
	display: block;
} 
#menu {
	margin: 12px 0;
}
#menu li{
	display: inline-block;
}
#menu li.search{
	width: 182px;
	transition-duration: 2s;
	transition-timing-function: cubic-bezier(1,-.91,.91,1);
}
#menu li.search.ativo{
	width: 250px;
}
#menu li.search input{
	background-color: #5C2D90;
	color: #FFF;
	width: 150px;
	border: none;
	height: 30px;
	line-height: 30px;
}
#menu li.search.ativo input{
	width: 250px;
}
#menu li.search ::-webkit-input-placeholder {
	color: #FFF;
}
#menu li.search button{
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top: 7px;
}
#menu li.search button i{
	font-size: 14px;
	color: rgba(255, 255, 255, .5);
}
#menu li a{
	color: #fff;
	font-size: 20px;
	padding: 10px 12px;
}
#menu li.search .input-group{
	top: 7px;
}
#banner{
	color: #fff;
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	background-position: 0px, -100px;
	top: -131px;
} 
#banner	h1{
	transition: 1s;
	color: #FFF;
	top: 300px;
	margin-left: 90px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);

}
#banner	h1 small{
    top: -2px;
    color: #fff;
    margin-left: 37px;
    font-size: 35px;
    display: block;
    position: relative;
    font-weight: bold;
    background-size: cover;
}
#news{
	position: relative;
	top: -110px;
}
#news h2{
	color:#5E2799;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#news hr{
	border: #FDE192 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails{
	margin-top: 20px;
}
#news .thumbnails h3{
	color: #5E299A;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnails time{
	color:#A7A7A7;
	font-size: 18px;
}
#news .thumbnails .item-inner{
	padding: 10px;
}
#news .thumbnails .item-inner img{
	width: 100%;
}
#estatisticas{
	background-color: #5E299A;
	width: 100%;
	height: 200px; 
	text-align: center;
}
#estatisticas p{
	color: #FDE092;
	text-transform: uppercase;
	font-size: 64px;
	margin-top: 36px;
}
#estatisticas p small{
	color: #fff;
	font-size: 24px;
	display: block;
}
#call-to-action{
	margin-top: 105px;
	text-align: center;
}
#call-to-action h2{
	color:#5E2799;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#call-to-action hr{
	border: #FDE192 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#call-to-action p{
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}
#call-to-action .btn{
	min-width: 164px;
	height: 44px;
	line-height: 34px;
	border-radius: 0; 
}
#call-to-action .btn-roxo{
	color: #fff;
	background-color: #5E299A;
	border-color: #5E299A;
	min-width: 164px;
	height: 44px;
}
#call-to-action .btn-amarelo{
	color: #000;
	background-color: #FDE192;
	border-color: #FDE192;
	min-width: 164px;
	height: 44px;
}
#call-to-action .row-max-400{
	margin: 0 auto;
	max-width: 400px;
}
footer{
	margin-top: 110px;
}
footer .row{
	width: 100%;
	margin-left: 0;
}
footer .row p{
	line-height: 55px;
	margin-bottom: 0;
}
footer .row-cinza-claro{
	height: 240px;
	background-color: #171F26;
}
footer .row-cinza-escuro{
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left{
	font-size: 16px;
	color: #666;
}
footer .text-roxo{
	color: #623291;
	font-size: 14px;
	font-weight: bold;
}
footer .logotipo{
	margin-top: 28px;
}
footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch{
	margin-top: 40px;
}
footer .row-cols h4{
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom:  #242D37 1px solid;
}
footer .row-cols h5{
	color: #666;
	font-size: 14px;
	margin-bottom: 0;
}
footer .row-cols time{
	color: #FDE092;
	font-size: 14px;
}
footer .col-links a{
	color: #FFF;
	font-size: 14px;
}
footer .col-links .fa{
	margin: 0 6px;
}
footer address{
	margin-bottom: 0;
}
footer .col-get-in-touch address{
	color: #666;
	font-size: 14px;
	margin-bottom: 6;
}
footer .col-get-in-touch address span{
	display: inline-block;
}
footer .col-get-in-touch address i{
	position: relative;
}
footer .col-get-in-touch i {
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px; 
}
footer .col-get-in-touch a{
	color: #666;
}
footer .col-get-in-touch p{
	line-height: 20px;
}
footer .list-socials{
	margin-top: 4px;
}
footer .list-socials li{
	display: inline-block;
}
footer .list-socials a{
	display: block;
	border: #9B9B9B 1px solid;
	width:  28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i{
	font-size: 16px;
	margin: 7px auto;
}
video {
	width: 60%;
}
#btn-bars, #btn-search{
	display: none;
}
#btn-news-prev, #btn-news-next{
	background: none;
	border: none;
	color: #5E2699;
	font-size: 144px;
	position: absolute;
	top: 104px;
	z-index: 1;
	outline: 0;
}
#btn-news-next{
	right: -55px;
}
#btn-news-prev{
	left: -83px;
}
.page-up{
	display: none!important;
}